<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<p>
  <strong>Comments</strong>
</p>

<ul>
  <% comments.forEach((comment) => { %>
    <li>
    "<%= comment.comment %>" <br>- <strong><%= comment.username %></strong> 
    <%= moment(comment.createdAt).format('LT') %>
    </li>
  <%  }); %> 
</ul>


<a href="/">&larr; Back Home</a>
