<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>



<hr />

<% comments.forEach(comment => { %>
    <p> <b><%= comment.name  %> </b> said: 
    <%= comment.content  %> 
    </p>
<%  }) %> 

<form action="/aricles/:id/comments" method="POST">
<h4>Comment on this post</h4>
<p>Name</p>
<input type="text" name="name"><br>
<p>Comment</p>
<input type="text" id="content" name="content"><br>

</form>


<a href="/">&larr; Back Home</a>
