<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<ul>
<% article.comments.forEach(comment => { %>

  <div class="comment"><%=comment.creator%> : <%=comment.content%></div>
  
  
<% }); %>

</ul>

<% console.log(article) %>

<form method="POST" action="/comments">
  <input type="hidden" name="articleId" value="<%= article.id %>">

  <label for="creator">Creator</label>
  <input type="text" name="creator" id="creator">

  <label for="content">Content</label>
  <input type="text" name="content" id="content">

  <input type="submit">
</form>


<a href="/">&larr; Back Home</a>


