<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<ul>
<% comments.forEach(comment => { %>

  <div class="comment"><%=comment.creator%> : <%=comment.content%></div>
  
  
<% }); %>

</ul>

<% console.log(article) %>

<form method="POST" action="">
  <input id="submit" type="submit" value="Post Comment">
  <input type="text" name="commentContent" id="content" placeholder="Content">
  <input type="text" name="commentName" id="name" placeholder="Name">
</form>


<a href="/">&larr; Back Home</a>