<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% if(article.comments.length > 0) { %>
<% article.comments.forEach(comment => { %>
<p>
  <%= comment.name %>
</p>
<p>
  <%= comment.comment %>
</p>
<% }) } else { %>
  <p>No comments</p>
<% } %>

<a href="/">&larr; Back Home</a>
